<div class="w-full h-5rem flex align-items-center justify-content-between absolute top-0"  [ngStyle]="{'background-color':'#19202E'}">
    <img src="../../../assets/img/logo-h-2.png" style="width: 200px;" alt="">
    <!-- <p-button  (onClick)="logOut()" icon="pi pi-times" iconPos="right" label="Cerrar sesión"  class="p-button-text" ></p-button> -->
    <h1 class="text-white">Bienvenido {{user}}</h1>
<button (click)="logOut()"  icon="pi pi-power-off" iconPos="right" pButton type="button" label="Cerrar sesión" class="p-button-text " style="color: white;"></button>
</div>  