<section
    class="w-full h-full align-items-center justify-content-center flex relative">
    <div class="flex flex-column w-6 h-10 border-round shadow-2 bg-white">
        <div class="flex justify-content-center">
            <h1>Registro de usuario</h1>
        </div>
        <div>
            <p-divider></p-divider>
        </div>
        <div class="grid">
            <div class="col-3">

            </div>
            <div
                class="col-6 flex align-items-center justify-content-center flex-column gap-3">
                <div class="flex flex-row gap-2">
                    <div
                        class="flex flex-column align-items-center justify-content-center w-full">
                        <label htmlFor="username">Nombre</label>
                        <input class="w-full" type="text" pInputText />

                    </div>
                    <div
                        class="flex flex-column align-items-center justify-content-center w-full">
                        <label htmlFor="username">Apellido</label>
                        <input class="w-full" type="text" pInputText />

                    </div>

                </div>
                <div
                    class="flex px-2 justify-content-center align-items-center w-full">
                    <div
                        class="flex flex-column align-items-center justify-content-center w-full">
                        <label htmlFor="username">Correo electronico</label>
                        <input class="w-11" type="text" pInputText />
                    </div>
                </div>
                <div class="flex flex-row w-full">
                   
                </div>
                <div class="flex -mt-3 flex-row gap-2">
                    <div
                        class="flex flex-column align-items-center justify-content-center w-5">
                        <label htmlFor="username">Fecha de nacimiento</label>
                        <input class="w-full" type="text" pInputText />

                    </div>
                    <div
                        class="flex flex-column align-items-center justify-content-center w-7">
                        <label htmlFor="username">Profesión</label>
                        <input class="w-full" type="text" pInputText />

                    </div>

                </div>
                <div
                    class="flex px-2 justify-content-center align-items-center w-full">
                    <div
                        class="flex flex-column align-items-center justify-content-center w-full">
                        <label htmlFor="username">Dirección</label>
                        <input class="w-11" type="text" pInputText />
                    </div>
                </div>
                <div
                    class="flex px-2 justify-content-center align-items-center w-full">
                    <div
                        class="flex flex-column align-items-end mr-4 justify-content-center w-full">
                        <p-button [routerLink]="['../login']" label="Confirmar" styleClass="p-button-success" icon="pi pi-check" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>

        </div>
    </div>
</section>