<div class="h-12rem w-full bg-white ">

    <div class="flex w-full h-full flex-row">
        <div class="flex align-items-center justify-content-center w-2 bg-blue-100 ">
            <img style="height: 30px;width: 30px;" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fvinculacion.unab.cl%2Fdescargas%2Flogos%2F&psig=AOvVaw0D-4aMb_Nr6JKWEHhX5lHm&ust=1695836388193000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKDT_v3oyIEDFQAAAAAdAAAAABAE" alt="">
        </div>
        <div class="flex w-10 flex-column gap-2 justify-content-between border-bottom-1 border-gray-400">
            <div class="flex flex-column gap-3">
                <div class="w-full ml-2 font-bold">Se contrata blablabla</div>
                <div class="w-full ml-2">Empresa falsa</div>
                <div class="w-full ml-2 text-500">Lugar</div>

            </div>

            <div class="w-10 ml-2 text-xs">Hace 1 semana</div>
        </div>

    </div>

</div>
